<div class="container">
  <div class="w-100 text-center">
    <h1>CHALLENGE ACCEPTED</h1>
      <div>
        <%= cl_image_tag(@user.photo.key, width: 400, height: 300, crop: :fill) %>
      </div>
      <br>
      <div class="d-flex justify-content-center">
        <%= link_to "Lancer un challenge!", new_challenge_path, class: "btn btn-primary" %>
      </div>
      <div>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
  </div>
</div>

<div class='validation_progression'>
  <h2>Tes défis à valider :</h2>
  <div>
    <ul>
      <% @challenges.each do |challenge| %>
<<<<<<< HEAD
        <%= cl_image_path @challenge.photo.key, height: 200, width: 200, crop: :fill %>
=======
        <li><%= cl_image_path @challenge.photo.key, height: 200, width: 200, crop: :fill %></li>
>>>>>>> 275c8422d1d074ea53d79585a086dc122bf10461
          <% @participations.each do |participation| %>
            <% participation.progressions.each do |progression| %>
              <% if progression.done == false && progression.date < Date.tomorrow %>
                <div data-controller="validate-progression"
                      data-validate-progression-update-url-value="<%= done_progression_path(progression) %>"
                      data-validate-progression-target="card">
                  <li><%= challenge.title %></li>
                  <li><%= progression.date %></li>
                  <button class="btn btn-primary" data-action="click->validate-progression#validate">
                    V
                  </button>
                  <button class="btn btn-primary" data-action="click->validate-progression#nop">
                    X
                  </button>
                </div>
              <% end %>
            <% end %>
          <% end %>
      <% end %>
    </ul>
  </div>
</div>
