<div class="container">
  <div class="top-show-user">
    <div class="flexbox">
      <div >
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </div>
        <div class="text-center" id="title">
          <h1 class="title">CHALLENGE ACCEPTED</h1>
        </div>
          <div>
            <%= cl_image_tag @user.photo.key, width: 400, height: 300, crop: :fill, id: "avatar" %>
          </div>
    </div>
        <div>
        <p>Hey, <%= @user.name %> !</p>
          <p><strong><%= @user.total_points %></strong> 🏆</p>
          <% if @user.total_points.positive? %>
            <p>Wow, tu te surpasses!</p>
          <% else %>
            <p>Accomplis une progression pour gagner tes premiers points !</p>
          <% end %>
        </div>
  </div>
  <div class='validation_progression'>
    <h2>Tes progressions à valider :</h2>
    <div>
      <% @challenges.each do |challenge| %>
        <% if challenge.end_date > Date.yesterday %>
          <% challenge.participations.each do |participation| %>
            <% participation.progressions.each do |progression| %>
              <% if progression.done == false && progression.date < Date.tomorrow %>
                <% if participation.user_id == current_user.id %>
                  <ul>
                    <div data-controller="validate-progression"
                        data-validate-progression-update-url-value="<%= done_progression_path(progression) %>">
                      <li>
                        <strong><%= challenge.title %></strong>
                        <p>Se termine le <em><%= challenge.end_date %></em></p>
                        <button class="btn btn-valid btn-primary" data-modal-target="#modal" data-action="click->validate-progression#validate">
                          ✔️
                        </button>
                        <button class="btn btn-not-valid btn-primary" data-action="click->validate-progression#nop">
                          ❌
                        </button>
                      </li>
                    </div>
                  </ul>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to "Créé un challenge!", new_challenge_path, class: "btn btn-primary" %>
  </div>
  <div>
    <h2>Tes challenges en cours:</h2>
      <% @challenges.each do |challenge| %>
          <ul class="list-inline">
            <% if challenge.end_date > Date.yesterday %>
              <div class="card2" >
                  <% time_left = (challenge.end_date - Date.today).to_i %>
                    <li>
                      <div class="card-body">
                        <%= link_to challenge_path(challenge) do %>
                          <h3><strong><%= challenge.title %></strong></h3>
                          <div>Se termine dans : <%= time_left %> jours</div>
                        <% end %>
                      </div>
                    </li>
              </div>
            <% end %>
          </ul>
      <% end %>
  </div>
  <div>
    <h2>Tes anciens challenges :</h2>
      <% @challenges.each do |challenge| %>
        <% if challenge.end_date < Date.today %>
          <div class="card2">
            <div class="card-body">
              <%= link_to challenge_path(challenge) do %>
                <%= challenge.title %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
