<div class="top-show-user">
  <div class="flexbox">
    <div>
      <%= cl_image_tag @user.photo.key, id: "avatar" %>
    </div>
    <div class="text-center" id="title">
      <h1 class="title">CHALLENGE ACCEPTED</h1>
    </div>
    <div id="log-out">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fas fa-sign-out-alt"></i>
      <% end %>
    </div>
  </div>
  <div class="greeting">
    <h2>Hey,</h2>
    <h2><%= @user.name.capitalize %> !</h2>
  </div>
</div>
<div class="container">
  <div class="d-flex flex-column text-center points">
    <i class="fas fa-trophy"></i>
    <p><strong><%= @user.total_points %></strong> points</p>
    <% if @user.total_points.positive? %>
      <p>Wow, tu te surpasses!</p>
    <% else %>
      <p>Accomplis une progression pour gagner tes premiers points !</p>
    <% end %>
  </div>
  <div class='validation_progression'>
    <h2>Tes progressions à valider :</h2>
    <div class="my-3">
      <% @challenges.each do |challenge| %>
        <% if challenge.end_date > Date.yesterday %>
          <% challenge.participations.each do |participation| %>
            <% participation.progressions.each do |progression| %>
              <% if progression.done == false && progression.date < Date.tomorrow %>
                <% if participation.user_id == current_user.id %>
                  <div class="progression_card d-flex justify-content-center"
                    data-controller="validate-progression"
                    data-validate-progression-update-url-value="<%= done_progression_path(progression) %>">
                    <div class="w-100 d-flex justify-content-between">
                      <div class="body4 flex-grow-1">
                        <h3><strong><%= challenge.title %></strong></h3>
                        <p>Progression du <%= ConvertDate.new(date: progression.date.strftime('%a %d %b')).call %></p>
                      </div>
                      <div class="d-flex align-items-center">
                        <button class="btn btn-valid" data-action="click->validate-progression#validate">
                          <i class="fas fa-check d-flex justify-content-center"></i>
                        </button>
                        <div class="ms-2">
                          <%= link_to progression_path(progression), class: 'btn btn-not-valid', method: :delete do %>
                            <i class="fas fa-times d-flex justify-content-center"></i>
                          <% end %>
                        </div>
                      </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="d-flex justify-content-center my-3  btn-go" >
  <%= link_to "Crée un challenge!", new_challenge_path, class: "btn"%>
</div>
<div>
  <h2>Tes challenges en cours:</h2>
  <div class="scroll">
    <% @challenges.each do |challenge| %>
      <% if challenge.end_date > Date.yesterday %>
        <div class="card2" >
           <% time_left = (challenge.end_date - Date.today).to_i %>
            <div class="card-body">
              <%= link_to challenge_path(challenge) do %>
                <h3><strong><%= challenge.title %></strong></h3>
                <div>Se termine dans : <%= time_left %> jours</div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div>
    <h2>Tes anciens challenges :</h2>
    <ul class="scroll">
      <% @challenges.each do |challenge| %>
        <% if challenge.end_date < Date.today %>
          <div class="card2">
            <li>
              <div class="card-body">
                <%= link_to challenge_path(challenge) do %>
                  <h3><strong><%= challenge.title %></strong></h3>
                <% end %>
              </div>
            </li>
          </div>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
