<div class='challenge-description my-4 d-flex flex-column align-items-center'>
  <div class="mt-5 mb-2">
    <h2 class="card-blue">"<%= @challenge.title %>" est terminé</h2>
  </div>
</div>
  <div>
    <p class="pb-3"><strong>Terminé depuis le : </strong><%= ConvertDate.new(date: @challenge.end_date.strftime('%a %d %b')).call %>
    <br><strong>Durée totale :</strong> <%= @challenge.total_time %> jours.</p>
    <div class="card3 text-center my-4">
      <p>Tu as effectué <%= @progression_count_current_user %> jours de challenge, et remporté <%= @total_points_count %> points!</p>
    </div>
  <p class="my-4"><small><em>Nostalgique ? Tu peux toujours recréer ce challenge, ou en inventer un autre <%= link_to "ici", new_challenge_path %>!<em></small></p>
  </div>
</div>
