<div class="m-2">
  <div class="container">
    <div class="col-12 d-flex justify-content-center">
      <div class='col-12 my-5'>
        <h1 class="text-center">Créé ton challenge!</h1><br>
          <%= simple_form_for(@challenge) do |f| %>
              <%= f.input :title,
                          label: "Trouve un super titre!",
                          autofocus: true %>
              <%= f.input :description,
              label: "Décris le challenge à tes potes:" %>
              <%= f.input :start_date, as: :date, html5: true,
              label: "Vous commencez quand?" %>
              <%= f.input :end_date, as: :date, html5: true,
              label: "Et la date de fin?" %>
              <p><%= "A quelle fréquence veux-tu effectuer ce challenge ?" %></p>
              <%= f.select :frequency,
              [ 'Quotidiennement','Une fois par semaine','Une seule fois à la fin' ],
              prompt: 'Fais ton choix' %>
              <p> </p>
              <%= f.submit "Enregistrer ce challenge", class:"btn btn-primary" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
