<div class="m-3">
  <div class="container">
    <div class="col-12 d-flex justify-content-center">
      <div class='col-12 mt-5'>
        <%# CAS: challenge terminé // DONE %>
        <% if @challenge.started %>
          <% if @challenge.end_date < Date.today %>
            <div class="w-200 text-center my-5">
              <h2>Le challenge "<%= @challenge.title %>" s'est terminé le <%= @challenge.end_date %></h2>
              <div class="card3 mt-5">
                <h6>Durée totale : <%= @challenge.total_time %> jours.</h6>
                <p>🎉 Tu as effectué <%= @progression_count_current_user %> jours de challenge, et remporté <%= @total_points_count %> points! 🎉</p>
              </div>
              <p class="mt-4"><em>Nostalgique ? Tu peux toujours refaire ce challenge ou en créer un autre <%= link_to "ici", new_challenge_path %>!<em></p>
            </div>

          <%# CAS: challenge lancé, en cours %>
          <% else %>
            <div class='challenge-description'>
                <h1 class="text-center">"<%= @challenge.title.capitalize %>" est lancé!</h1>
              <div class="card3 my-4">
                <p>Wouhou! Tu participes actuellement à ce challenge 🚀</p>
                <p class="mt-3"><strong>Date de fin:</strong> <em><%= @challenge.end_date %></em>,
            <br>Il te reste <%= @time_left %> jours pour te surpasser!</p>
              </div>
            <p class="blockquote">"<%= @challenge.description %>"</p>
            <figcaption class="blockquote-footer text-right"><%= @creator.name %></figcaption>
              <div class="card3 text-center my-4">
                <h5>Tous les participant·e·s</h5>
                <ul class="text-left">
                  <% @users.each do |user| %>
                    <li><%= cl_image_tag user.photo.key, id:"avatar" %></li>
                    <li><small><%= user.name.capitalize %></small></li>
                    <li>
                      <% @participations.each do |participation| %>
                        <% if participation.user_id == user.id %>
                          <% @progression_count = 0 %>

                          <% participation.progressions.each do |progression| %>
                            <% if progression.done %>
                              <% @progression_count += progression.points %>
                            <% end %>
                          <% end %>
                        <% end %>
                      <% end %>
                      <%# <% @progression_count %>
                    </li>
                  <% end %>
                </ul>
              </div>
              </div>
              <div class="card3 my-4">
              <h5>Progressions</h5>
                <ul>
                  <% @users.each do |user| %>
                    <% @participations.each do |participation| %>
                      <% if participation.user_id == user.id %>
                        <% @progression_count = 0 %>
                        <% participation.progressions.each do |progression| %>
                          <% if progression.done %>
                            <% @progression_count += 1 %>
                          <% end %>
                        <% end %>
                      <% end %>
                      <div>
                        <% ratio = @progression_count*100/@challenge.total_time%>
                        <%= image_tag "#{ratio.round(-1)}.svg", class:"mb-3" %><br>
                        <small><%= user.name %>: <%= @progression_count %> jours</small>
                      </div>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>

        <%# CAS: challenge prêt à être lancé, invitation amis %>
        <% else %>
        <div class="card3">
          <h2 id="title", class="text-center" data-challenge="<%= @challenge.title %>">
            "<%= @challenge.title %>" est prêt à être lancé!
          </h2>
          <p
            id="debut"
            data-challenge-debut="<%= @challenge.total_time %>"
            data-challenge-time-left="<%= @time_left %>">
            <strong>Début:</strong> <%= @challenge.start_date %>,<br><strong>Durée:</strong> <%= @challenge.total_time %> jours.
          </p>
        </div>
          <% if current_user == @creator %>
            <p class="blockquote">"<%= @challenge.description %>"</p>
            <figcaption class="blockquote-footer text-right"><%= @creator.name %></figcaption>

              <div class="text-center"
                data-controller="share"
                data-share-id-value= <%= @challenge.id %>
                data-share-title-value= <%= @challenge.title %>
                data-share-creator-value= <%= @creator.name %>>
            <div class="card3 my-4">
                  <p>T'es prêt à récolter des points et défier tes potes?</p>
                  <p class= "btn btn-primary" data-action="click->share#shareLink"> Partage ton lien! </p>
              </div>
            </div>

          <% else %>
            <div class="card3">
              <div class="enter-challenge">
                <div data-controller='enter-challenge'
                  data-enter-challenge-target="card-enter"
                  data-enter-challenge-create-url-value= "<%= participations_path %>"
                  data-enter-challenge-user-id-value= "<%= current_user.id %>"
                  data-enter-challenge-challenge-id-value= "<%= @challenge.id %>">

                      <%# CAS: invation reçue au challenge %>
                  <h2 id="title", class="text-center mb-3" data-challenge="<%= @challenge.title %>">
                    "<%= @challenge.title %>" est prêt à être lancé!
                  </h2>
                  <div class="card3 my-4 text-center">
                    <p>Veux-tu y participer?</p>
                    <button id="launch" class="btn btn-primary" data-action="click->enter-challenge#accept">
                      Let's go!
                    </button>
                    <button class="btn btn-primary" data-action="click->enter-challenge#refuse">
                      Nope
                    </button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <div class="card3 my-4">
          <h5>Participant·e·s inscrits:</h5>
          <p><em>Tout le monde est la? Lance le challenge!</em></p>
          <% @users.each do |user| %>
            <ul class="text-left in-line">
              <li><%= cl_image_tag user.photo.key, height: 200, width: 200, crop: :fill, id:"avatar" %> <strong><%= user.name %></strong></li>
            </ul>
          <% end %>

            <%# CAS: bouton "lancer le challenge" %>
          <% if current_user == @creator %>
            <div data-controller="started"
              data-started-update-url-value="<%=  started_challenge_path(@challenge) %>">
              <button id="launch2" class="btn mt-2 btn-primary" data-action="click->started#status">
                C'est parti !🚀
              </button>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
