<div class='challenge-description'>
  <h1><%= @challenge.title %></h1>
  <h6>Temps total : <%= @challenge.total_time %> jours.</h6>
  <h6>Il te reste <%= @time_left %> jours de challenge, courage !</h6>
  <p><%= @challenge.description %></p>
  <ul>
    <% @users.each do |user| %>
      <%# <li><img src='<%= cl_image_path user.photo.key, height: 200, width: 200, crop: :fill ' alt="photo de profil"></li> %>
      <li><%= user.name %></li>
      <% @participations.each do |participation| %>
        <%= if participation.user_id == user.id %>
          <li><%= participation.progressions %></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
