<div class="m-3">
  <div class="container">
    <div class="col-12 d-flex justify-content-center">
      <div class='col-12 my-5'>
        <%# CAS: challenge terminé // DONE %>
        <% if @challenge.started %>
          <% if @challenge.end_date < Date.today %>
            <div class="container">
              <div class="w-200 text-center">
                <h2>Le challenge "<%= @challenge.title %>" s'est terminé le <%= @challenge.end_date %></h2>
                <h6>Durée totale : <%= @challenge.total_time %> jours.</h6>
                <p>🎉 Tu as effectué <%= @progression_count_current_user %> jours de challenge, et remporté <%= @total_points_count %> points! 🎉</p>
              </div>
            </div>
          <% else %>
            <div class='challenge-description'>
              <h1><%= @challenge.title %></h1>
              <h6>Ton challenge se termine le <em><%= @challenge.end_date %></em>. Il te reste <%= @time_left %> jours pour te surpasser!</h6>
              <p>Jusqu'ici, tu as validé <%= @progression_count_current_user %> jours</p>
              <p>Rappel de la superbe description du challenge : <%= @challenge.description %></p>
              <h2>Les participant·e·s au challenge :</h2>
              <ul>
                <% @users.each do |user| %>
                  <li><%= cl_image_tag user.photo.key, height: 200, width: 200, crop: :fill%>
                  <%= user.name %>:
                  <% @participations.each do |participation| %>
                    <% if participation.user_id == user.id %>
                      <% @progression_count = 0 %>
                      <% participation.progressions.each do |progression| %>
                        <% if progression.done %>
                          <% @progression_count += progression.points %>
                        <% end %>
                      <% end %>
                    <% end %>
                    <%= @progression_count %> points.</li>
                  <% end %>
                <% end %>
              </ul>
              <ul>
                <% @users.each do |user| %>
                  <% @participations.each do |participation| %>
                    <% if participation.user_id == user.id %>
                      <% @progression_count = 0 %>
                      <% participation.progressions.each do |progression| %>
                        <% if progression.done %>
                          <% @progression_count += 1 %>
                        <% end %>
                      <% end %>
                    <% end %>
                    <div>
                      <% ratio = @progression_count*100/@challenge.total_time%>
                      <%= image_tag "#{ratio.round(-1)}.svg"%>
                      <%= @progression_count %> jours - <%= user.name %>
                    </div>
                  <% end %>
                <% end %>
              </ul>
            </div>
          <% end %>
        <% else %>
          <h1 id="title" data-challenge="<%= @challenge.title %>">
            Le challenge "<%= @challenge.title %>" est prêt à être lancé !
          </h1>
          <h6
            id="debut"
            data-challenge-debut="<%= @challenge.total_time %>"
            data-challenge-time-left="<%= @time_left %>">
            Ton challenge commencera le <strong><%= @challenge.start_date %></strong> et se déroulera sur <strong><%= @challenge.total_time %></strong> jours.
          </h6>
          <p><strong>Rappel des règles:</strong> <%= @challenge.description %></p>
          <% if current_user == @creator %>
              <p>Invite tes potes !</p>
                <div data-controller="share" data-share-id-value= <%= @challenge.id %>  data-share-title-value= <%= @challenge.title %> data-share-creator-value= <%= @creator.name %>>
                  <p class= "btn btn-primary" data-action="click->share#shareLink"> Partage ton lien </p>
                </div>
          <% else %>
            <div class="enter-challenge">
              <div data-controller='enter-challenge'
                data-enter-challenge-target="card-enter"
                data-enter-challenge-create-url-value= "<%= participations_path %>"
                data-enter-challenge-user-id-value= "<%= current_user.id %>"
                data-enter-challenge-challenge-id-value= "<%= @challenge.id %>">
                <p>Veux-tu participer à ce challenge ?</p>
                <button id="launch" class="btn btn-primary" data-action="click->enter-challenge#accept">
                  Let's go!
                </button>
                <button class="btn btn-primary" data-action="click->enter-challenge#refuse">
                  Nope
                </button>
              </div>
            </div>
          <% end %>
          <h2>Les participant·e·s au challenge :</h2>
          <% @users.each do |user| %>
            <ul>
              <li><%= cl_image_tag user.photo.key, height: 200, width: 200, crop: :fill %>
              <strong><%= user.name %></strong></li>
            </ul>
          <% end %>

          <% if current_user == @creator %>
            <div data-controller="started"
              data-started-update-url-value="<%=  started_challenge_path(@challenge) %>">
              <button id="launch2" class="btn btn-primary" data-action="click->started#status">
                Lancer le challenge
              </button>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
