<% if @challenge.started %>
  <div class='challenge-description'>
    <h1><%= @challenge.title %></h1>
    <h6>Temps total : <%= @challenge.total_time %> jours.</h6>
    <h6>Il te reste <%= @time_left %> jours de challenge, courage !</h6>
    <p><%= @challenge.description %></p>
    <ul>
      <% @users.each do |user| %>
        <li><%= cl_image_path user.photo.key, height: 200, width: 200, crop: :fill %></li>
        <li><%= user.name %></li>
        <% @participations.each do |participation| %>
          <% if participation.user_id == user.id %>
            <% @progression_count = 0 %>
              <% participation.progressions.each do |progression| %>
                <% if progression.done %>
                  <% @progression_count += 1 %>
                <% end %>
              <% end %>
            <p>Wouhou, tu as effectué <%= @progression_count %> jours de challenge sur les <%= @challenge.total_time %> jours de base!</p>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% else %>
  <h1>Le challenge <%= @challenge.title %> est prêt à être lancé !</h1>
  <h6>Ton challenge commencera le <%= @challenge.start_date %> et se déroulera sur <%= @challenge.total_time %> jours.</h6>
  <p>Rappel des règles: <%= @challenge.description %></p>
  <%= cl_image_tag(@challenge.photo.key, width: 400, height: 300, crop: :fill) %>
  <% if current_user == @creator %>
      <p>Si t'es prêt, invite tes potes !</p>
        <div data-controller="share" data-share-id-value= <%= @challenge.id %>  data-share-title-value= <%= @challenge.title %> data-share-creator-value= <%= @creator.name %>>
          <p class= "btn btn-primary" data-action="click->share#shareLink"> Partage ton lien </p>
        </div>
  <% else %>
    <div class="enter-challenge">
      <div data-controller='enter-challenge'
        data-enter-challenge-target="card-enter"
        data-enter-challenge-create-url-value= "<%= participations_path %>"
        data-enter-challenge-user-id-value= "<%= current_user.id %>"
        data-enter-challenge-challenge-id-value= "<%= @challenge.id %>">
        <p>Veux-tu participer à ce challenge ?</p>
        <button class="btn btn-primary" data-action="click->enter-challenge#accept">
          V
        </button>
        <button class="btn btn-primary" data-action="click->enter-challenge#refuse">
          X
        </button>
      </div>
    </div>
  <% end %>
  <h2>Les participant·e·s au challenge :</h2>
  <% @users.each do |user| %>
  <ul>
    <li><%= cl_image_path user.photo.key, height: 200, width: 200, crop: :fill %></li>
    <li><%= user.name %></li>
  </ul>
  <% end %>
<% end %>
