<div class='challenge-description'>
  <h1>Le challenge <%= @challenge.title %> est prêt à être lancé !</h1>
  <h6>Ton challenge se déroulera sur <%= @challenge.total_time %> jours.</h6>
  <h6>T'es prêt à tout donner? Il te reste <%= @time_left %> jours pour te challenger !</h6>
  <p>Rappel des règles: <%= @challenge.description %></p>
  <p>Si t'es prêt, invite tes potes !</p>
    <%= simple_form_for(@challenge) do |f| %>
      <%= f.submit "Partage ton lien", class:"btn btn btn-primary" %>
    <% end %>
  <p><%= @users.map { |user| user.name} %></p>
</div>
<%# controleur stimulus add event  %>
